body {
    text-align:left;
    color:#666666;
    font-size:17px;
    line-height:1.5;
    font-family:".PingFang-SC-Light";
    margin-top:0px;
    margin-left:0px;
    margin-bottom:0px;
    margin-right:0px;
    background-color:white;
}

/* 下面这段p标签样式可以不设置 */
p {
    margin-top:10px;
    margin-left:0px;
    margin-bottom:10px;
    margin-right:0px;
    text-indent:2em;
}

img {
    text-align:center;
    margin-top:0px;
    margin-left:0px;
    margin-bottom:0px;
    margin-right:0px;
    border-radius:5px 5px 5px 5px;
    display:block;
}

a:link {
    color:#507DAF;
    text-decoration:none;
}

a:visited {
    color:#507DAF;
    text-decoration:none;
}


/*.title {*/
/*    text-align:left;*/
/*    font-size:25px;*/
/*    font-weight:bold;*/
/*    color:gray;*/
/*}*/
/**/
/*.digest {*/
/*    margin-top:10px;*/
/*    margin-bottom:5px;*/
/*    margin-left:15px;*/
/*    margin-right:15px;*/
/*    font-size:18px;*/
/*    color:gray;*/
/*}*/
/**/
/**/
/*ptime {*/
/*    font-size:15px;*/
/*    color:gray;*/
/*    margin-top:10px;*/
/*    margin-bottom:7px;*/
/*}*/
/**/
/*mysource {*/
/*    color:blue;*/
/*    text-align:left;*/
/*    font-size:15px;*/
/*    margin-left:10px;*/
/*}*/
/**/
